@import "tailwindcss";

@theme {
  --color-gray-300: #e5e7eb;
  --color-gray-600: #6b7280;
  --color-gray-700: #4a4a4a;
  --color-gray-800: #0d0d0d;
  --color-purple-100: #f5e9ff;
  --color--primary-500: #5e2a8c;
}
